.dashboard {
  margin-top: 70px;

  &Sider {
    top: 70px;
    left: 0;
    position: fixed;
    height: 100vh;
    background: #001628;

    &Title {
      color: white;
      padding: 12px;
      font-weight: 500;
      font-size: 20px;
      line-height: normal;
    }

    &Avatar {
      background: white !important;
      color: black !important;

      &Name {
        color: white;
      }
    }
  }

  &Content {
    background-color: #eeeeee;
    width: 100%;
    margin-left: 200px;
    padding: 48px;
    min-height: 100vh;
  }
}

.categories {
  min-width: 500px;
  background-color: white;
  padding: 24px 30px;
  border-radius: 4px;
  height: 400px;

  h3 {
    font-weight: 500;
  }
}
